* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(40%, 1% + 2vw, 62%5); /*tamanho da fonte se ajusta conforme o tamanho da tela*/
    font-family: sans-serif;

    --text-color: #323238;
    --bg-button-sound: #E1E1E6;
    --color-button: #323238;
    --bg-hover: #02799D;
}

.sr-only {  /*ACESSIBILIDADE*/
    width: .1rem;
    height: .1rem;
    position: absolute;
    overflow: hidden;
    margin-left: -.1rem;
    padding: 0;
    border: 0;
    appearance: none;
}

#app {
    margin: auto;
    height: 100vh;
    max-width: 40.0rem;
    /* border: 1px solid red; */
}

.timer {
    text-align: center;
    font-size: 6.6rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 3.2rem 0 1.2rem;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 4.0rem;
    margin-bottom: 3.2rem;
}

.controls button {
    background: transparent;
    border: none;
    color: var(--color-button);
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

#marginRight {
    margin-right: 2.2rem;
}

.button1, .button2, .button3, .button4 {
    width: 9.8rem;
    height: 10.2rem;
    background: var(--bg-button-sound);
    border: none;
    cursor: pointer;
    border-radius: 2.4rem;
}

.cardButton {
    background: var(--bg-hover);
}

@media (min-width: 70.0rem) {
    #app {
        max-width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 9.2rem;
        gap: 9.2rem;
    }

    .timer {
        font-size: 8.6rem;
    }
}



